@keyframes wave {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.wave-letter {
    display: inline-block;
    animation: wave 400ms ease-in-out;
    white-space: pre;
}
